div{
    height: 200px;
    border: 1px solid black;
}
.green{
    background-color: green;   
}
.blue{
    background-color: blue;
}
.yellow{
    background-color: yellow;
}
.red{
    background-color: red;
}