.align{
    display: flex;
    align-items: center;
    flex-direction: column;
}
h1{
    text-align: center;
    /* text-decoration: dashed; */
}
.item-list{
    width: 700px;
    align-self: center;
    margin-right: 40px;
    margin-top: 16px;
    /* border: 1px solid black; */
}

.item-list ul li{
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    border-radius: 8px;
}
.item-list ul li button{
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    background-color:#dc3545;
    color: #fff;
}
.input-field{
    display: flex;
    flex-direction: column;
}
textarea{
    font-size: 1.3em;
    border-radius: 5px;
    /* border: none; */
}
li{
    margin-top: 10px;
}
.task-div{
    border: 1px solid black;
}
.align-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 12px;
}
.align-content button{
    align-self: flex-end;
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    color: #fff;
    background-color: #0d6efd;
}
.space-evenly{
    display: flex;
    justify-content: space-between;
}
.space-evenly span{
    color: rgb(58, 58, 58);
}
.priority-btn{
    /* border: 1px solid black; */
    width: 250px;
    display: flex;
    justify-content: space-between;
}
.priority-btn button{
    background-color: #28a745;
    padding: 8px 12px;
    border-radius: 5px;
    border: none;
    color: #fff;
}