.align{
    display: flex;
    align-items: center;
    flex-direction: column;
}
h1{
    text-align: center;
    /* text-decoration: dashed; */
}

.input-field{
    display: flex;
    flex-direction: column;
}
textarea{
    font-size: 1.3em;
    border-radius: 5px;
    /* border: none; */
}
.align-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 12px;
}
.align-content button{
    align-self: flex-end;
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    color: #fff;
    background-color: #0d6efd;
}
.space-evenly{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.space-evenly span{
    color: rgb(58, 58, 58);
}
.priority-btn{
    /* border: 1px solid black; */
    width: 250px;
    display: flex;
    justify-content: space-between;
}
.priority-btn button{
    background-color: #28a745;
    padding: 8px 12px;
    border-radius: 5px;
    border: none;
    color: #fff;
}


/* dynamic rendering CSS */
ul{
    margin: 0;
}
.task-list{
    margin-top: 8px;
    border-radius: 15px;
    width: 650px;
    padding: 8px;
    border: 1px solid black;
}
.task-list button{
    padding:8px 12px;
    border: none;
    border-radius: 5px;
    margin-top: 4px;
    margin-left: 8px;
    color: #fff;
    background-color:#dc3545;
}