@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 0;
    background-color: rgb(247, 247, 247);
    font-family: 'Source Sans Pro', sans-serif;
    
}
header{
    background-color: #343a40;
}
h1{
    margin: 0;
    color: #fff;
    text-align: center;
    font-size: 3em;
    padding: 8px;
}
main section{
    margin: 16px;
}
.image-section{
    display: grid;
    gap: 16px;
    grid-template-areas:
        'img1 img1 img2 img3'
        'img1 img1 img4 img4'
        'img5 img5 img4 img4'   
        'img5 img5 img6 img6'
        'img5 img5 img6 img6'
    ;
    margin-bottom: 16px;
}
.image-div{
    overflow: hidden;
    position: relative;
}
.image-div , .image-div img{
    border-radius: 15px;
    filter: brightness(75%);
    text-decoration: none;
}
.image-div img:hover{
    transition: all 200ms;
    filter: brightness(100%);
}

.grid1{grid-area: img1}
.grid2{grid-area: img2}
.grid3{grid-area: img3}
.grid4{grid-area: img4}
.grid5{grid-area: img5}
.grid6{grid-area: img6;}

img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.description-box{
    position: absolute;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.664);
    text-align: center;
    width: 100%;
    padding: 8px;
    display: none;
}
.image-div:hover .description-box{
    display: block;
}
.model{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: none;
    background-color: #0000009e;
    transition: all 200ms;
    flex-direction: column;
}
.model-image div{
    margin-top: 20px;
    max-width: 800px;
    max-height: 200px;
}
.model-image{
    display: flex;
    width: 100%;
    height: 90%;
    justify-content: center;
    align-items: flex-start;
}

.model-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 50ms ease-out;
}
.slider{
    border: 2px solid white;
    width: 100%;
}
