body{
    margin: 0;
    padding: 0;
}
header{
    margin: 0;
    background-color: #007bff;
}
.align{
    display: flex;
    justify-content: center;
    margin-top: 24px;
}
h1{
    margin: 0;
    padding: 12px;
    color: #fff;
    text-align: center;
}
form{
    width: 50vw;
    display: flex;
    flex-direction: column;
}
form input{
    outline: none;
    height: 40px;
    border-radius: 5px;
    padding-left: 8px;
    border: 1px solid grey;
}
form input:invalid:focus{
    border: 2px solid red;    
}
form input:focus{
    border: 2px solid grey;
}
form input:valid{
    border: 2px solid green;
}
form label{
    margin-top: 16px;
    margin-bottom: 6px;
    font-size: 1.2em;
}
input[type='submit']{
    margin-top: 16px;
    border: none;
    width: 100px;
    background-color: #28a745;
    color: #fff;
    font-size: 1.1em;
}
.search-box{
    margin-top: 24px;
    display: flex;
    justify-content: flex-end;
    margin-right: 80px;
}
.search-box div{
    border: 1px solid black;
    display: flex;
    align-items: center;
    border-radius: 5px;
    margin-right: 8px;
}
.search-box label i{
    font-size: 1.4em;
    margin-left: 8px;
    margin-right: 8px;
}
.search-box input{
    height: 28px;
    margin-left: 4px;
    border-radius: 5px;
    border: none;
    font-size: 1em;
    outline: none;
}
.table{
    display: flex;
    justify-content: center;
}
table,th, td{
    border: 1px solid black;
    border-collapse: collapse;
}
table{
    margin-top: 20px;
    width: 90vw;   
}
th{
    height: 40px;
}
th:last-child{
    width: 300px;
}
td{
    text-align: center;
    padding: 8px;
}
button{
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    color: #fff;
    margin-left: 8px;
}
.bg-green{
    background-color: #28a745;
}
.bg-yellow{
    background-color: #ffc107;
}
.bg-grey{
    background-color: #17a2b8;
}
.bg-red{
    background-color:  #dc3545;
}
.search-box button{
    color: black;
}
h3{
    text-align: center;
}
.profile{
    display: flex;
}
.profile div{
    margin-left: 24px;
}
.profile div h3{
    text-align: left;
}